* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #2A323D !important;
  color: #E3E4E0 !important;
}

.customCardColor {
  background-color: #20262E !important;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(131, 131, 131);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6e6e6e;
}

.p-progressbar .p-progressbar-value{
  background-color: #20262E !important;
}